a:link {
	text-decoration: none;
}	

body {
	background-color: lightgrey;
	color: orange;
	font-family: sans-serif;
	font-size: 120%;
}

h2 {
	color: red;
	text-align: center;
}

.blue {
	color: blue;
	font-weight: bold;
}

.green {
	color: green;
	font-weight: bold;
	font-style: italic;
	background-color: yellow;
}

.yellow {
	color: yellow;
	font-weight: bold;
	background-color: forestgreen;
}

ul.pink > li {
	color: hotpink;
	font-weight: bold;
	background-color: black;
}

ol > li {
	color: maroon;
	font-weight: bold;
}

ol > ul > li {
	color: lightskyblue;
	font-weight: bold;
}

ol > ul, li {
	color: darkseagreen;
	font-weight: bold;
}

div > h1 {
	color: gold;
	font-weight: bold;
}

div > article {
	color: orangered;
	font-style: italic;
	font-weight: bold;
	background-color: black;
	display: block;
	width: 1000px;
}

section > article {
	color: forestgreen;
	font-weight: bolder;
	border: 2px solid limegreen;
	text-align: center;
	margin-bottom: 2px;
	display: block;
	width: 1000px;
}

div article.cornflowerblue {
	color: cornflowerblue;
}

section article.big {
	font-weight: bolder;
	color: violet;
}

article:nth-child(2) {
	font-size: 24px;
}

div > h1 {
	text-align: center;
}

* {
	box-sizing: border-box;
}

#box {
	background-color: maroon;
	padding: 10px;
	border: 30px solid lightblue;
	margin: 50px;
}

#content {
	background-color: darkolivegreen;	
}

#bg {
	width: 567px;
	height: 500px;
	background-image: url("Little Pang.jpg");
	background-color: green;
	background-repeat: repeat-x;
	background-position: bottom;
}

#bg2 {
	width: 567px;
	height: 500px;
	background: url("Little Pang.jpg") repeat-x bottom;
	background-color: cadetblue; 
}

#bg2margin {
	margin-top: 5px;
}

div#floating {
	background-color: springgreen;
}
#floating p {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	margin-bottom: 5px;
	margin-top: 5px;
}

#p1 {
	background-color: red;
	float: left;
	margin-right: 20px;
}

#p2 {
	background-color: lightpink;
	float: left;
	height: 150px;
}
#p3 {
	background-color: fuchsia;
	clear: left;
	float: right;
}
#p4 {
	background-color: deeppink;
	margin-right: 5px;
	float: right;
}

#p5 {
	background-color: darkblue;
	clear: right;
}
#p6 {
	background-color: cadetblue;
	float: right;
	height: 100px;
}
#p7 {
	background-color: royalblue;
	clear: left;
}
#p8 {
	background-color: powderblue;
	clear: right;
	float: right;
}
section {
	clear: right;
}

#splitparag > p {
	width: 50%;
	border: 2px solid black;
	float: left;
	box-sizing: border-box;
	padding: 5px;
}
#p9 {
	background-color: darkkhaki;
	color: white;
	font-weight: bold;
}
#p10 {
	background-color: darkcyan;
	color: lightcyan;
	font-weight: bolder;
}

h3 {
	margin-bottom: 20px;
	color: saddlebrown;
	font-weight: bold;
}

p#media {
	border: 2px solid black;
	margin-bottom: 15px;
}
#p11 {
	background-color: burlywood;
	color: black;
	width: 300px;
	height: 300px;
}
#p12 {
	background-color: rosybrown;
	color: black;
	width: 100px;
	height: 100px;
}
/*********Large devices only*********/
@media (min-width: 1200px) {
	#p11 {
		width: 80%;
	}
	#p12 {
		width: 200px;
		height: 200px;
	}
}/*****Medium Sized*****/
@media (min-width: 992px) and (max-width: 1199px) {
	#p11 {
		width: 50%;
	}
	#p12 {
		width: 150px;
		height: 150px;
	}
}
h4 {
	color: black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}